<!--index.vtl-->
<h1>Places I've Been</h1>

<form action="/placeList">
  <label for="placeName">Name of Place:</label>
  <input type="text" id="placeName" name="placeName">

  <button  type="submit" name="button">Add Place</button>
</form>
<!--index.vtl-->
