<!--index.vtl-->
<h1>Places I've Been</h1>
#if ($printPlaces)
  <ul>
    #foreach ($place in $printPlaces)
      <li>$place.getPlaceName()</li>
    #end
  </ul>
#else
<p>
  No Places!
</p>
#end

<form action="/placeList">
  <label for="placeName">Name of Place:</label>
  <input type="text" id="placeName" name="placeName">

  <button  type="submit" name="button">Add Place</button>
</form>
<!--index.vtl-->
